* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
    font-size: 20px;
    text-align: center;
}

/* =========
    Navbar 
   ========= */

.navbar {
    background-color: hsl(124, 100%, 3%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5px 100px;
    text-align: left;
}
.logo {
    flex: 1;
    padding: 20px;
}

.pages {
    flex: 1;
}
.pages > * {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: 0.3s;
}
.pages > *:hover {
    color: hsl(60, 92%, 41%);
    cursor: pointer;
}
.nav-cart > * {
    text-decoration: none;
    color: white;
}
.nav-cart > *:hover {
    color: hsl(60, 92%, 81%);
    cursor: pointer;
}

/* ==========
      Home 
   ========== */

.header {
    width: 100%;
    height: 300px;
}
.header > .header-bg {
    background-image: url('images/0-headerWatch.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px 60px;
}

.header > .header-bg > button {
    background-color: hsl(60, 56%, 90%);
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    margin-left: 80px;
    font-size: 30px;
    transition: 0.3s;
    z-index: 5;
}
.header-bg > button:hover {
    background-color: hsl(60, 56%, 70%);
    cursor: pointer;
    transform: scale(1.2);
}

.products-overview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
    text-align: left;
}

/* =========
    Products
   ========= */

.products {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    margin: 40px;
    text-align: left;
}

/* ========
    Product (card)
   ======== */

.product {
    width: 19rem;
    border: 1px solid lightgray;
}
.product-img {
    object-fit: cover;
}

/* =======
    Carts 
   ======= */

.main-carts {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin: 10px;
}
.main-carts > h1 {
    flex: 1;
}
.main-carts > .list-carts {
    flex: 2;
    max-width: 800px;
    margin: 20px;
}
.quantity-column {
    display: flex;
    justify-content: center;
    align-items: center;
}
.quantity-num {
    flex: 2;
    font-size: 23px;
}
.quantity-btns {
    flex: 1;
    border-radius: 50%;
    padding: 2px 0;
    margin: 2px;
    font-size: 15px;
    transition: 0.2s;
}
.quantity-btns:hover {
    cursor: pointer;
    background-color: lightgray;
}
