* {
    margin: 0;
    padding: 0;
}

:root {
    --black-green: hsl(124, 100%, 3%);
    --dark-green: hsl(113, 42%, 20%);
    --dgreen: hsl(94, 39%, 32%);
    --light-green: hsl(81, 38%, 45%);
    --green-yellow: hsl(70, 52%, 58%);
    --yellow: hsl(60, 92%, 71%);
    --blueish: #d8f9da;
}

body {
    background-color: aliceblue;
    font-size: 20px;
}

/* =========
    Navbar 
   =========
*/

.navbar {
    background-color: var(--black-green);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5px 100px;
}
.logo {
    flex: 1;
    padding: 20px;
}
.pages {
    flex: 1;
}
.pages > span {
    padding: 5px 10px;
    transition: 0.3s;
}
.pages > span:hover {
    color: hsl(60, 92%, 41%);
    cursor: pointer;
}

/* ==========
      Home 
   ==========
*/

.header {
    width: 100%;
    height: 300px;
}
.header > .header-bg {
    background-image: url('images/headerWatch.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px 60px;
}

.header > .header-bg > button {
    background-color: hsl(60, 56%, 90%);
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    margin-left: 80px;
    font-size: 30px;
    transition: 0.3s;
    z-index: 5;
}
.header-bg > button:hover {
    background-color: hsl(60, 56%, 70%);
    cursor: pointer;
    transform: scale(1.2);
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
}

/* ========
    Card
   ========
*/

.product {
    width: 19rem;
    border: 1px solid lightgray;
}
.product-img {
    object-fit: cover;
}
